<html>
  <head>
    <title>Weather App</title>

    <link rel="stylesheet" href="./css/styles.css"/>
  </head>

  <body>
    <div class="center-content">
      {{>header}}

      <div class="about-us-content">
        <p>Created by <strong>{{ authorName }}</strong></p>
      </div>

      {{>footer}}
    </div>
  </body>
</html>
