<div class="custom-header">
  <nav class="navbar-light bg-light">
    <a class="navbar-brand" href="/">Weather</a>
    <a class="nav-link" href="/about">About</a>
    <a class="nav-link" href="/help">Help</a>
  </nav>
</div>
