@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css');

.form-control:focus {
  border-color: #495057;
  box-shadow: 0 0 0 0.2rem rgb(73 80 87 / 25%);
}

.center-content {
  color: #333333;
  font-family: 'Roboto';
  font-weight: 400;
  max-width: 650px;
  margin: 0 auto;
  padding: 16px;
}

.weather-content, .about-us-content, .help-content, .page-not-found-content {
  padding-top: 16px;
  padding-bottom: 16px;
}
.weather-content .weather-result-data {
  padding-top: 16px;
  height: 150px;
}

.custom-header nav {
  display: flex;
}
.custom-header nav a {
  color: rgba(0,0,0,.9);
}

.custom-footer {
  text-align: center;
  padding-top: 16px;
  border-top: 2px solid #D3D3D3;
}
